[2019-08-01 17:24] ankit1986 opened #9 "Does it support COPY FROM / COPY TO ?"
Does it support COPY FROM / COPY TO ?

I couldnt find any reference for it in the docs / code.

[2019-08-01 17:40] huebnerr commented on #9
Not yet, although that functionality is certainly possible to add. Discussions have begun in-house on the next round of features and we'll make sure to take note of the request. That being said, we would also be grateful for any contributions to the code base.

[2019-08-07 23:46] inkapbang opened #15 "Question: Do you support Vertica 8.1.x?"
I read from the following link that Vertica-sql-go supports Vertica 8.0 and later, but I am actually getting errors:

`Error: [08000] Unsupported frontend protocol 3.8: server supports 3.0 to 3.6`

It will be great if you can clarify. Thank you!

[2019-08-08 22:24] sitingren commented on #15
@huebnerr The client backward compatibility is not implemented.

[2019-08-08 22:25] inkapbang commented on #15
Thank you for the clarification.

[2019-08-08 22:29] sitingren commented on #15
@inkapbang One possible workaround is to change [protocol version](https://github.com/vertica/vertica-sql-go/blob/master/driver.go#L51) from `0x00030008` to `0x00030006`.

[2019-08-08 23:06] huebnerr commented on #15
@sitingren I haven't tested it advertising as 3.6 and can't absolutely guarantee everything will work.

It would be an interesting experiment for sure.

We could either change the documentation to say 8.4+ (or whatever is correct), or we could change the advertised protocol and introduce backwards compat.

[2019-08-09 13:27] sitingren commented on #15
@huebnerr It's not that hard to implement this feature. And other users can help us test it as well.

[2019-08-19 23:40] grzm opened #17 "Reusing prepared statements throws runtime errors"
When using prepared statements for queries, subsequent execution of the statement throws runtime errors.

[code]
For comparison, this code works with PostgreSQL (using the [`lib/pq`](https://github.com/lib/pq) driver), and this pattern of reusing a prepared statement for a query is used in the Prometheus generic database [`free/sql_exporter`](https://github.com/free/sql_exporter/blob/1a12c9586e22d

[2019-08-20 00:34] huebnerr commented on #17
Thank you for finding this, @grzm. We'll work on repro'ing the error, incorporating your test into the suite, and keep you updated. Hopefully this can be fixed in short order.

[2019-08-20 00:58] grzm commented on #15
What changes have there been to the protocol since 8.1? Are there any that aren't backward compatible? I can imagine there may be new features supported by the newer versions, but if the features of the protocol that support 8.1 haven't been changed, I'd encourage setting the min protocol version to support 8.1. I'm sure I'm not the only one with on-deck plans to upgrade but would like to be able

[2019-08-20 15:32] sitingren commented on #15
@grzm In 8.1, native UUID type support is added in the server.

It's always acceptable for the client's protocol version to be older than the server's, but if client's protocol is newer, the server will report error and refuse the connection. Backward compatibility is a feature that enable clients to connect to older servers.

[2019-08-20 16:02] grzm commented on #15
(UUID support was added in 9.0, wasn't it? It's not in 8.1)

Right, this is actually what I'm trying to say (if I've been unclear, my apologies). I'd like to be able to use the stock vertical-sql-go driver to connect to 8.1 servers. I know I can recompile (and have done) updating the protocol version as you helpfully provided upthread. I'm trying to understand what else would be changed to support

[2019-08-20 16:37] huebnerr commented on #17
@gzrm I've made a fix to the code that passes this test. Please verify that I've correctly translated your test into a new unit test. Note that in yours, the value was never Scan()'d, but I've made a change in this one to Scan and validate the cursor state.

[code]

[2019-08-20 18:24] grzm commented on #17
@huebnerr Cheers! I applied your patch https://github.com/huebnerr/vertica-sql-go/commit/399816b3f198fb58f26dbab9cd135c59b0c7a72f and it resolved this particular issue.

Thanks for catching that. Copy/paste error. That snippet was just to demonstrate in the comment. I did have full tests in the patch I linked to, where I did indeed call `rows.Scan` ;)

Thanks for the quick turnaround!

[2019-08-20 18:43] huebnerr commented on #17
No problem at all. Thank you for catching it, @grzm ! I'll go ahead and close the issue. @sitingren will merge the PR. https://github.com/vertica/vertica-sql-go/pull/18

[2019-08-20 18:43] #17 closed

[2019-08-21 03:12] sitingren commented on #15
@grzm (Sorry, UUID was added in 9.0) There isn't so much work to support an older server. When the client evolves from protocol 3.5 to 3.8, it is adding new features, rarely deleting existing functionalities. Backward compatibility is the feature of protocol 3.7. This go client specifies protocol 3.8 directly but missing the implementation of protocol 3.7, which is a small change of the startup me

[2019-08-21 04:23] grzm opened #20 "No columns returned when query returns no rows"
When using prepared statements, if the query returns no rows, no columns are available.

Here's a repo-test: (https://github.com/grzm/vertica-sql-go/commit/dec2b63a05e4e841d2837ca1481633e93abf6262)

[code]
`rows.Columns()` returns 0 columns, while there should be 1.

Comparing with vsql:

[code]

[2019-08-21 10:10] baron42bba commented on #9
As soon as CopyStream is available I am going to switch from Perl/ODBC.

[2019-08-21 14:10] huebnerr commented on #9
That sounds great. I've already added it to the backlog.

[2019-08-21 14:24] huebnerr commented on #20
Now that's a weird one. Let me try to repro and let you know @grzm.

[2019-08-21 15:35] huebnerr commented on #20
@grzm, please refer to this PR. I've incorporated your test and have fixed the issue.
https://github.com/vertica/vertica-sql-go/pull/21

[2019-08-21 16:13] grzm commented on #20
@huebnerr Thanks! It looks like that fixes the issue I was seeing.

A heads-up, it looks like there's also an issue with column names not being populated. I'm working on a repro test and will open a new issue when I've got it.

Off-hand, has there been any consideration in using https://github.com/lib/pq as a base? The PostgreSQL and Vertica wire protocols are really similar: I've sometimes used t

[2019-08-21 17:25] huebnerr commented on #20
There's a long explanation there.  I looked at many bits of source code, including the one you suggest, vertica-python, the PG protocol spec, @tomwall's patience and direct reading of the protocol streams.

As I understand it, around ten or eleven years ago, the protocol forked. In some areas (e.g., simple queries) the PG protocol works just fine. In many others (e.g., portal/cursor semantics, ext

[2019-08-21 21:34] huebnerr commented on #9
@baron42bba @ankit1986 Can either of you spell out the exact commands you need to have executed? Many COPY variants will work today, but a few specific cases (such as COPY LOCAL) are being worked on.

[2019-08-21 22:25] grzm opened #22 "Possible issue with wrong rows returned from current stmt results"
I'm seeing an issue which looks like the driver mismatching prepared statements and result sets when running concurrently. The Prometheus [free/sql_exporter]( https://github.com/free/sql_exporter) runs the queries for each "scrape" concurrently (in go routines). The rows returned when `stmt.QueryContext(cox)` is called are not always the rows associated with the prepared statement. Here's the func

[2019-08-21 23:34] grzm commented on #22
For completeness, here's the `sql_exporter.yml` config file I'm using:

[code]

[2019-08-22 02:17] huebnerr commented on #22
Great research. I have an idea about what the problem might be. I suspect that this is a lack of protection from allowing two different threads to run queries at the same time and a race condition between the sibling message loops.

Having multiple cursors/portals would make this easier but for the short term, a mutex around these might solve the problem with the side effect of "serializing" the g

[2019-08-22 03:09] grzm commented on #22
Cheers! I appreciate anything insight you can bring. As is probably pretty clear, I'm really interested in getting Prometheus monitoring for Vertica. I'm probably going to try to look at how lib/pq (for a comparison in go) and the Vertica Python driver (for a comparison in Vertica) handle this issue. Would still like to figure out how to write a test that would reproduce the issue independently.

[2019-08-22 03:10] grzm commented on #20
Makes sense. Thanks!

[2019-08-22 05:24] ankit1986 commented on #9
Yes COPY FROM LOCAL or GLOBAL would be awesome. I intended to run these types of queries:
[code]

[2019-08-22 07:59] baron42bba commented on #9
Currently I am using something like

COPY schema.foo
  FROM LOCAL 'filename'
  WITH DELIMITER e'\036'
  ENCLOSED BY '' RECORD TERMINATOR e'\34' NULL e'\37'
  EXCEPTIONS '/mnt/temp/storage/dbadmin/foo-42.exception'
  REJECTED DATA '/mnt/temp/storage/dbadmin/foo-42.rejected';

but I would like to be able to use this from go:

COPY schema.foo
  FROM STDIN
  WITH DELIMITER e'\036'
  ENCLOSED BY '' REC

[2019-08-22 14:03] huebnerr commented on #9
That sounds great. It seems COPY LOCAL is in demand for sure. I did some poking around last night and see how to add it. I'll get it scheduled into the near term development work. Keep watching this thread for update. Thanks again!

[2019-08-24 02:47] huebnerr commented on #20
PR merged. Closing issue.

[2019-08-24 02:47] #20 closed

[2019-08-24 03:14] huebnerr commented on #22
@grzm, I've put together a quick test in this branch. I'm having trouble repo'ing your case. Can you please try the following branch and see if it solves/helps/exacerbates the issue you've defined?

https://github.com/huebnerr/vertica-sql-go/tree/mutex-experimental

[2019-08-24 05:24] grzm commented on #22
@huebnerr Thanks! I've given it a shot locally, and the problem persists. Something I learned is that the sql_exporter has the option of using multiple connections. I've tested it with both 1 and 3 connections, and observed the aberrant behavior in both scenarios.

Given I haven't been able to create a test in the vertica-go-sql test suite, I've put together a self-contained demo of how I've been

[2019-08-24 20:25] huebnerr commented on #22
@grzm Thank you. I was hopeful that this would at least give an improvement. Thank you for putting together the self-contained demo. I'll debug into it and give it the ol' college try!

[2019-08-24 21:02] grzm commented on #22
@huebnerr Glad to hear it worked out of the box!

[2019-08-24 23:06] huebnerr commented on #22
Weird... I moved it to another box (due to the Pixelbook's unwillingness to let me debug) and for the first 15 runs or so, I invariably got:
<pre>
# HELP vertica_ahm_epoch Ancient History Marker Epoch
# TYPE vertica_ahm_epoch counter
vertica_ahm_epoch 16
# HELP vertica_ahm_epoch_lag Lag of AHM epoch behind Last Good Epoch
# TYPE vertica_ahm_epoch_lag gauge
vertica_ahm_epoch_lag 0
# HELP vertica_cu

[2019-08-25 00:08] huebnerr commented on #22
UPDATE: @grzm  forcing serialization of the queries (as below) "solves" the problem. There is definitely a state issue exacerbated, I'm guessing on the driver side, by having the same query happening from multiple threads at once. Investigation continue.

[code]

[2019-08-25 04:50] huebnerr commented on #22
@grzm I believe I have found and fixed the issue wherein some messages were getting dropped in some instances which caused other messages to get out of sync. Your environment now returns reasonable values and sql_explorer doesn't complain about mismatches anymore.

These changes have been pushed into the experimental branch you already have:
https://github.com/huebnerr/vertica-sql-go/tree/mutex-ex

[2019-08-25 17:10] grzm commented on #20
Thanks!

[2019-08-25 17:16] grzm commented on #22
@huebnerr I can confirm that in the testing I've done I'm no longer seeing the issue. I am seeing some warnings (such as `connection: unhandled message: Cmd Description: tag=SELECT, hasRewrite=false, rewrite=''` and `connection: unhandled message: BindComplete`) that are associated with the logging changes you mention (looks like here: https://github.com/huebnerr/vertica-sql-go/commit/33f052b032f7

[2019-08-25 17:31] huebnerr commented on #22
@grzm I saw that and will address those before PR. I mainly wanted to make sure the issue was fixed on your side. 😁 Will resolve those other messages tonight (mostly harmless). Thanks again for all of your help tracking down the issue!

[2019-08-25 17:41] grzm commented on #22
👍

[2019-08-26 05:15] huebnerr commented on #22
Added PR #28 to address this issue. Will close on merge.

[2019-08-27 02:42] huebnerr opened #29 "unhandled message when parsing a stmt consisting only of a comment"

[2019-09-01 01:49] huebnerr commented on #9
@ankit1986 @baron42bba @sitingren @tomwall

I've prototyped some functionality in branch 'rhuebner-stdin-experimental'. This functionality will allow you to use 'COPY STDIN' (not 'COPY LOCAL STDIN') to copy either from stdin (if you're writing a command-line tool for example) OR to specify the stream from which to read. In both cases, copies will continue until EOF is reached.

To use the former f

[2019-09-01 04:05] huebnerr commented on #9
Please note that the argument passed to NewVerticaContext() is the parent context you're using. The VerticaContext will inherit all of its properties and behaviors. At the moment the only differences are the new methods we've added.

[2019-09-02 02:35] #29 closed

[2019-09-03 04:40] baron42bba commented on #9
Thanks a lot. I was busy with Vertica recovery tests and upgrades.
I am going to test early next week.

[2019-09-04 16:53] huebnerr commented on #9
Since I'll need this code to implement some further features. I'll submit to a PR. Please test and close against main branch when you get time. Thanks.

[2019-09-16 09:18] baron42bba commented on #9
Sorry for the delay. I had to first learn a bit of go :-)
This one is working:
`	vCtx := vertigo.NewVerticaContext(ctx)
	vCtx.SetCopyInputStream(fp)

	_, err = connDB.ExecContext(vCtx, "COPY public.stdin_data FROM STDIN DELIMITER e'\036' ENCLOSED BY '\"' RECORD TERMINATOR e'\034' NULL e'\037'")
`

[2019-09-16 13:50] huebnerr commented on #9
Thank you for validating, @baron42bba. We'll mark this one closed and continue on to the LOCAL variants. If there are any other priority use cases, please let us know.

[2019-09-16 13:50] #9 closed

[2019-09-18 15:12] huebnerr opened #33 "Issues with test running under 1.13 using command line flags"
Due to breaking changes in Go 1.13, command line test flags are not being parsed correctly.

[2019-09-27 22:02] deusnefum commented on #33
I just noticed this myself. Adding flag.Parse() to the init func in driver_test.go fixed it.

[2019-09-28 01:34] huebnerr commented on #33
It works with 1.13 and breaks previous versions. This is due to a known breaking change in the Go testing framework.

On Sep 27, 2019 5:03 PM, Matthew Hiles <notifications@github.com> wrote:

I just noticed this myself. Adding flag.Parse() to the init func in driver_test.go fixed it.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github

[2019-10-01 18:14] #33 closed

[2019-10-14 17:06] langlbx opened #39 "Driver crashes when VERTICA_SQL_GO_LOG_FILE points to invalid or unwriteable location"
When the file is writeable, you would normally see this:

Oct 14 17:02:09.311636 DEBUG connection: -> Bind: Portal='', Statement='S1815710725291106410694', ArgC=0
Oct 14 17:02:09.311812 DEBUG connection: -> Execute: Portal='', RowLimit=0
Oct 14 17:02:09.311922 DEBUG connection: <- Cmd Description: tag=SELECT, hasRewrite=false, rewrite=''
Oct 14 17:02:09.391896 DEBUG connection: <- Error: [42501] P

[2019-10-22 16:30] watercraft opened #40 "Go type for int column"
I'm evaluating this driver as a replacement for alexbrianman/odbc for connecting to Vertica.
However, the Go type that comes out of xsql's rows.MapScan() for an int column is different.
For odbc the type is int64 and for this driver it is int.
I'm afraid my application depends on getting full precision for int values.
Is there a configuration option or another way to get int64 values through this

[2019-11-10 05:28] huebnerr commented on #40
There is no option for that today. I'm not sure of the overall standards compatibility between the ODBC standard and GoLang's SQL standard. Can you cite something related to such handling in the Go SQL spec? re: https://golang.org/pkg/database/sql/driver/

[2019-11-11 06:32] king526 opened #41 "insert select no effect"
when i prepare use select from another table, i found it not work and without an error!
[code]
[code]
the code is simple explain how it happened. my code is more complicated and it report right RowsAffected  but nothing happened.

[2019-11-11 14:10] huebnerr commented on #41
Interesting. I'll have a look at it. Thanks.

[2019-11-15 19:29] watercraft commented on #40
I'm not sure what the spec says but I do know that the highly active Postgres driver is able to deliver 64 bit integers for the "bigint" type.  As all integers in Vertica are 64 bit, I would expect this to be important for most consumers of your driver.  As I mention, I'm doing this today with alexbrianman/odbc on Vertica.

[2019-11-16 03:39] huebnerr commented on #41
I've added a branch:
https://github.com/vertica/vertica-sql-go/tree/rhuebner-issue-41-insert-not-working
that contains a test in driver_test.go called TestIssue41_InsertNotWorking .

As near as I can understand, this repros the conditions you mention yet do not see the issue. Can you verify?

[2019-11-19 22:04] huebnerr commented on #39
After trying several variants, I am unable to reproduce this bug.

[2019-11-19 22:04] #39 closed

[2019-11-20 02:32] fbernier opened #43 "response batching / cursor / lazy queries"
Hey,

It does not seem possible right now but it would be nice if we could fetch rows in batches for very large responses. I don't know the exact Vertica facilities that could be leveraged to achieve this but I guess is a way.

Thanks for your work!

[2019-11-20 17:26] huebnerr commented on #43
I agree that reading the entire result set into memory isn't necessarily as scalable as it should be.  :) The Vertica protocol doesn't support a "pull next x rows from the cursor/portal and stop" call, so there are a few options:

- Leave the result data on the line until we've run out in the Rows object. This could work, but I worry about "session locking" the client side so we don't introduce an

[2019-11-22 00:35] huebnerr commented on #43
@fbernier I've begun prototyping the feature. In it, you create a VerticaContext (introduced recently) that can set a maximum in-memory row set size. Beyond that limit, everything gets placed in a temporary file and is paged-in on read where the page size is the same as the limit size. Once the rows object is Close()'ed, the backing is removed.

By setting the limit to 0, file caching is disabled

[2019-11-22 15:14] fbernier commented on #43
@huebnerr I'm definitely checking this all out and testing it today. Thanks!

[2019-11-22 15:39] huebnerr commented on #43
No reason to test yet as it's not fully implemented yet. I'll let you know when it's ready. Does the concept meet your needs?

On Nov 22, 2019 7:16 AM, François Bernier <notifications@github.com> wrote:

@huebnerr<https://github.com/huebnerr> I'm definitely checking this all out and testing it today. Thanks!

—
You are receiving this because you were assigned.
Reply to this email directly, view it

[2019-11-22 15:46] fbernier commented on #43
@huebnerr I think it definitely sounds good, yes!

[2019-11-22 20:47] fbernier commented on #43
So I've been thinking about this a bit more and I feel like your first proposition might be the best one. If I understand correctly what you meant, we would basically `recvMessage` as we iterate using `rows.Next` which seems to be what [this postgres driver is doing](https://github.com/lib/pq/blob/f91d3411e481ed313eeab65ebfe9076466c39d01/conn.go#L1421). We would have to lock, and the release the c

[2019-11-22 21:54] huebnerr commented on #43
@fbernier Sadly Vertica's current wire protocol doesn't behave the same way as Postgres' and blocking on the reads would actually cause problems from the Go usage semantics perspective.

In the case where rows are left on the wire, iteration hasn't been completed, and another non-rows call is made (e.g., another query/execute), the system would either hang (in the case of mutexes) or return an err

[2019-11-24 06:05] huebnerr opened #44 "error during parsing of prepared statement causes perpetual error state"
Discovered by usql project. Parsing errors of prepared statements causes error state and eventual lock. This was caused by not sending the required sync() call to the backend after the error. Fixed in 0.1.7.

[2019-11-24 06:06] huebnerr commented on #44
Fixed in 0.1.7

[2019-11-24 06:06] #44 closed

[2019-11-26 15:13] fbernier commented on #43
Hey that makes sense. I'm ready to test as soon as you have something. Thanks!

[2019-11-30 01:21] huebnerr commented on #43
Haven't forgotten. Will return after Thanksgiving!

[2019-12-04 00:57] huebnerr commented on #43
@fbernier, I've committed and pushed the first implementation to the following branch:

https://github.com/vertica/vertica-sql-go/tree/rhuebner-issue-43-result-batching

If you wish, please help me try it out and see if it meets your usage requirements. It should theoretically be able to handle infinite data sets. Please see usage in the driver_test.go file function TestEnableResultCache() or chec

[2019-12-05 14:41] fbernier commented on #43
Hey, I'm sorry I had missed that reply. I just tried it and I still have more testing to do but it seems to work! I've yet to read the code yet but I have a few concerns on the implementation:

1- When looping over `rows.Next()`, does it wait to have saved the whole query to the tempfile before reading from it, or does it start reading from it right away until it reaches an EOF marker? I have a fe

[2019-12-05 15:43] huebnerr commented on #43
Thanks, @fbernier. The case is definitely the former. Again, this is a quirk of the Vertica protocol. When you have a query running, the messages come back in this format:

1. Metadata
2. Results
3. Finished

The current driver waits for all three steps to finish before returning from the Query() call. The issue, as if the paging discussion above, is that the current Vertica wire protocol supports

[2019-12-05 17:24] fbernier commented on #43
ah yeah I understand... oh well.

As a comparison point, for a query returning 22M rows, it takes  ~3.3minutes without the file paging and ~6minutes with file paging. I'm going to profile it and I'm sure we can make this be pretty much on par. Paging does help with memory though obviously which is great!

[2019-12-05 17:37] huebnerr commented on #43
Please do take a look at it. It's a first-pass implementation and certainly can be improved performance-wise! Check the sections marked "TODO: really inefficient!" and "TODO: optimize".  :)

[2019-12-10 15:05] rajsameer opened #45 "does this go driver support connection load balancing"
Hi,
Does this driver in the current phase support connection load balancing.

[2019-12-10 16:08] sitingren commented on #45
Hi @rajsameer
In the current phase this go client does not support connection load balancing.

[2019-12-10 20:52] rajsameer commented on #45
Thanks. Any plans on adding the support.

[2019-12-10 22:57] huebnerr commented on #45
@rajsameer It is penciled in to the roadmap, but nobody is actively assigned to it. Being open source, you're encouraged to contribute features. If not, the dev team can look at prioritizing such a feature if the need is immediate.

[2019-12-16 21:47] fbernier opened #48 "Hang when creating an already existing table inside transaction."
I have an endpoint that is creating a temporary table inside a transaction. That create table statement didn't have `IF NOT EXIST` and since go sql re-uses connections, I would often fall on a connection that already had this table.

When that was the case, it would just hang on the create table. I ended up figuring out what the problem was when I saw this when stracing the process.

[code]

I am

[2019-12-16 22:03] huebnerr commented on #48
Interesting! Will check.

Thanks

On Dec 16, 2019 3:47 PM, François Bernier <notifications@github.com> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/vertica/vertica-sql-go/issues/48?email_source=notifications&email_token=AK56SCM54FF5O45VRZZBOSDQY7ZNVA5CNFSM4J3RXYIKYY3PNVWWK3TUL52HS4DFUVEXG43VMWVGG33NNV

[2019-12-17 00:24] huebnerr commented on #43
If you think it's okay, @fbernier, I'm going to go ahead and close this issue as a 'feature', merge it in, and open a new issue as an enhancement for optimization.

[2019-12-17 00:34] fbernier commented on #43
I'm totally fine with this, yes. Go ahead and thanks again!

[2019-12-17 02:28] huebnerr commented on #43
Opened as PR: https://github.com/vertica/vertica-sql-go/pull/49

[2019-12-20 15:23] fbernier opened #51 "Driver does not handle broken connections."
The driver never returns `driver.ErrBadConn` anywhere in the code, causing database connection errors not to be handled.

For example, closing a user session from Vertica using `close_user_sessions('username')`, results in a forever broken database connection with `EOF` as the error to database calls. The expected behavior would be for the driver to return `driver.ErrBadConn` so that go sql would

[2019-12-20 20:59] huebnerr commented on #51
Thanks. Will check into this. Good catch.

Going to have to add you to the readme.  :)

Rog

On Dec 20, 2019 9:23 AM, François Bernier <notifications@github.com> wrote:

The driver never returns driver.ErrBadConn anywhere in the code, causing database connection errors not to be handled.

For example, closing a user session from Vertica using close_user_sessions('username'), results in a forever b

[2020-01-08 00:59] stochastimus commented on #40
The same Go SQL interface is used to return 64 bit integers from postgres. BIGINT is mapped to Int64, as one would imagine it should be, in the PG driver. Unlike postgres, AFAIK, Vertica doesn't even have a native Int32 datatype. So this is currently resulting in undefined behavior for most of the range of your most popular datatype, I would think. We would like to submit a pull request to fix it

[2020-01-08 16:19] watercraft commented on #45
Is there any documentation around Vertica's load balancing protocol that could be used as a reference for work on this feature?

[2020-01-09 18:57] sitingren commented on #45
@watercraft The implementation of vertica-python might be a good reference: https://github.com/vertica/vertica-python/blob/6df1abec10ca189331d9f61bc56e11e1dcf86b18/vertica_python/vertica/connection.py#L422

Load balancing happens between the initial establishment of the client connection and enabling SSL.

#### LoadBalanceRequest Message
Int32 (value=8) | Length of message contents in bytes, inclu

[2020-01-13 17:28] watercraft commented on #45
Below was my first attempt to translate the Python code before I read your reply.
I believe this is handling success correctly but I'm not sure about failure.
The BELoadBalanceMsg only has Host & Port, how do I get Byte1 ?
[code]

[2020-01-13 17:36] watercraft opened #53 "error '??HELP??' binding timestamp as a parameter"
I got the following error trying to pass a timestamp as an argument using a structure with sqlx:
Error: [22007] Invalid input syntax for timestamp: "??HELP??"
Here is an example patch that seems to address the issue.
Note, I'm not using RFC3339Nano here because Vertica doesn't like timestamps we precision beyond what it supports.
[code]

[2020-01-13 18:34] sitingren commented on #45
@watercraft Thanks for doing that. For BELoadBalanceMsg, you might have to define two different message types, like BELoadBalanceSuccessMsg and BELoadBalanceFailMsg.

[2020-01-14 17:16] watercraft commented on #45
I've coded the two message in my fork (watercraft/vertica-sql-go), however, I'm confused by the behavior when the sever has load balancing enabled but the client is configured to not do load balancing.  The connection succeeds, however, the first command I make comes back with EOF.  Do I need to always issue the load balancing exchange to deal with this and perhaps ignore the response or must the

[2020-01-14 17:50] fbernier commented on #45
@watercraft My guess is that in that case Vertica returns some kind of error that is not currently being handled by the driver, similar to https://github.com/vertica/vertica-sql-go/issues/51. I could be wrong though.

[2020-01-14 18:46] sitingren commented on #45
@watercraft If the client side disables load balancing, then following communications will use the initial connection, no LoadBalanceRequest Message will send to the server. Could you please write down the log of message communications? So that I can see why it returned a EOF.

[2020-01-15 22:45] watercraft opened #54 "does not handle sql comments with question mark"
I had a large query that had a question mark in the SQL comments (after --).  This resulted in an error "sql:  expected 1 arguments, got 0".  It took me a while to track this down, but the question mark is used by this driver's NumInput() function to indicate the presence of an argument.  As alexbrainman/odbc doesn't have this issue I suspect there is another way to evaluate this property. For now

[2020-01-15 22:55] huebnerr commented on #54
Thanks, @watercraft. I've actually seen this issue in the past and thought I had opened up an issue on it. This was seen with and without question marks under various circumstances. The simple solution would be to pre-parse away all comments before passing them to Vertica.

I'll work on adding that.

[2020-01-15 23:03] sitingren commented on #54
Parsing away all comments is not enough. Question marks can also appear in values, `select * from x where c='whatever?'`. A more safe way is to tokenize the sql.

[2020-01-15 23:08] huebnerr commented on #54
But something lopped off after -- will not affect this.  In other words,

select * from x where c='whatever?' -- what happened here?

will just be transformed into:

select * from x where c="whatever?"

[2020-01-16 16:23] huebnerr commented on #54
@watercraft, please confirm this is indicative of your issue.

[2020-01-16 18:56] sitingren commented on #54
@huebnerr What I mean is [`interpolate()`](https://github.com/vertica/vertica-sql-go/blob/90a9cc4d91a5c60e50e91921220775657a018319/stmt.go#L274) is very fragile as it just replaces question marks without any restriction. If the sql is `select * from x where c1="whatever?" and c2=?`, and you pass one parameter. Will you replace the question mark in c1? or c2?

@watercraft What's your `use_prepared_

[2020-01-16 18:57] huebnerr commented on #54
@sitingren You're right. interpolate() is pretty naive in that matter.

[2020-01-17 21:27] huebnerr commented on #41
Closed as unable to replicate.

[2020-01-17 21:27] #41 closed

[2020-01-20 22:35] watercraft opened #56 "bind of boolean values to front end message is broken"
Here is my proposed fix (from watercraft/vertica-sql-go):
[code]

[2020-01-21 16:46] huebnerr commented on #56
Strange that that hasn't been sufficiently tested. @watercraft, thanks for the fix. @sitingren, can you verify this fix?

[2020-01-21 16:49] fbernier commented on #56
Looks like the change matches the python driver: https://github.com/vertica/vertica-python/blob/master/vertica_python/vertica/messages/frontend_messages/bind.py#L95-L97

[2020-01-21 17:02] sitingren commented on #56
Yes, Boolean values send to the server should be expressed as 0/1.

[2020-01-21 19:05] huebnerr commented on #56
It looks good to me. @fbernier , @watercraft : would either of you like to do a PR (and update the tests so that this will get caught.)?  If not, I can add it to my list.

[2020-01-21 19:23] huebnerr commented on #56
p.s., need to add a "Special Thanks" section to the README.md. You two and quite a few others have made some great contributions to the driver.

[2020-01-31 17:58] eloraiby opened #57 "Invalid username or password but vsql runs without a problem"
I m getting the following message, when I run my program:
[code]

vsql runs fine from the same host.

I m connecting using:
[code]
Is there any kind of configuration I need to do prior to that ?

[2020-01-31 18:19] huebnerr commented on #57
Could you try making is 'pass + "@" + host' instead of 'pass + ":@" + host'. Haven't verified, but am pretty sure that colon before the "@" isn't correct and is probably making the Go URL parser code think you don't have a password.

[2020-01-31 19:02] eloraiby commented on #57
Sadly, still the same:
[code]

[2020-01-31 19:07] huebnerr commented on #57
Interesting. I've not seen this problem anywhere else. Can you provide the following:?

1. A sanitized copy of the URL value being passed in to the sql.Open() call.
2. Your Vertica version.
3. Your Go version.

[2020-01-31 19:21] eloraiby commented on #57
Thanks to your suggestion, I figured out the problem, unrelated to vertica-go:
the password contained `\n' character causing it to fail authentication.
Not a bug, stupid mistake on my end :shame:

[2020-01-31 19:21] #57 closed

[2020-01-31 19:23] huebnerr commented on #57
Cool. No shame there. Glad it all worked out for you!

[2020-01-31 20:00] huebnerr commented on #56
Fixed in https://github.com/vertica/vertica-sql-go/pull/58

[2020-01-31 20:00] #56 closed

[2020-01-31 20:49] huebnerr commented on #53
Fixed in https://github.com/vertica/vertica-sql-go/pull/59

[2020-01-31 20:49] #53 closed

[2020-02-03 17:26] mlh758 opened #60 "Interpolation with Named Paramters"
I am trying to run a query using named parameters like this:

[code]

The `@` symbol appears to be the correct syntax based on the docs [here](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ConnectingToVertica/ClientADO/UsingParameters.htm) but when I run this with this adapter like this:
[code]

I get `Error: [42703] Column "CLIENT_NAME" does not exist`

[2020-02-03 19:28] mlh758 commented on #60
The argument parsing looks really similar to what [Godror](https://github.com/godror/godror/blob/170a8e8543de03793d20fd62bef25cd0c9e3ee11/stmt.go#L249) is initially doing to pull out arguments but then later it [checks the name field and binds appropriately](https://github.com/godror/godror/blob/170a8e8543de03793d20fd62bef25cd0c9e3ee11/stmt.go#L822).

It seems like the Vertica adapter is binding t

[2020-02-03 22:14] huebnerr commented on #60
Thanks for the feature request. As it is, the Vertica wire protocol doesn't support server-side binding of named parameters (only positional). The client-side driver could be made to mimic this behavior in Vertica with a map of named arguments and their indices in the statement, then forcing an interpolation.

Although this is not on the roadmap today, I've added it to the backlog. However, if you

[2020-02-03 22:18] mlh758 commented on #60
I might be willing to take a stab at emulating the behavior since it would be really useful for my use case but could you elaborate on what you mean about it not supporting server-side binding of named parameters?

The docs [here](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ConnectingToVertica/ClientADO/UsingParameters.htm) have this example:
[code]

it seems like `@STATE` is a named

[2020-02-03 22:21] huebnerr commented on #60
I'll have to ask @tomwall to explain that side further.

[2020-02-03 22:32] mlh758 opened #61 "Driver hangs if user lacks permission for operation"
Version: github.com/vertica/vertica-sql-go v0.1.7

[code]

If the user does not have permission to do the operation, in our case it was `CREATE OR REPLACE VIEW`, the driver will hang even with a timeout context passed in. The same sql passed into something like DBeaver errors out right away.

This seems similar to #48 although we aren't using a transaction.

Edit: This seems to happen for any DDL

[2020-02-04 07:30] sitingren commented on #60
The Vertica wire protocol support server-side binding of positional parameters (i.e. prepared statements), this means the driver sends the query (using `?` as parameter placeholder) and parameter values __separately__ to the server. The server would parse the query, bind parameter values and execute the query. The limitation is server-side binding does not allow executing multiple commands per cal

[2020-02-04 14:30] mlh758 commented on #60
As far as I know, the Go sql package is neutral about what parameter syntax to use. [Here is the issue where the feature was added](https://github.com/golang/go/issues/12381). The oracle package uses `:` for all parameters, be it `:1, :2` or `:client, :environment`.

Are you saying that the ADO.NET adapter is just emulating named arguments? I hadn't noticed before that the parameter docs I linked

[2020-02-04 15:28] huebnerr commented on #60
Have verified with @tomwall that the ADO.NET driver emulates named parameters in the manner I mentioned.

[2020-02-04 15:29] mlh758 commented on #60
That's good to know, thank you. For consistency with the existing docs it might be best to continue their `@param_name` syntax for named parameters.

[2020-02-05 18:09] mlh758 commented on #54
I have a change coming together that should fix this issue as a side effect of emulating named parameters.

[2020-02-05 20:33] mlh758 commented on #60
I have some code for this ready once #62 merges.

[2020-02-05 20:36] huebnerr commented on #60
Thanks, @mlh758 . #62 is now merged.

[2020-02-07 20:53] mlh758 commented on #61
I simplified my test case to:

[code]

where I don't have permission to drop the view. I ran it a few times, and on _one_ of my runs I saw this message:
[code]

Which I believe should be coming from [here](https://github.com/vertica/vertica-sql-go/blob/master/connection.go#L371). This should be caught in [collectResults](https://github.com/vertica/vertica-sql-go/blob/6532448c5d3fe81f5d577f99c5005d

[2020-02-07 21:17] mlh758 commented on #61
It appears to freeze in [close](https://github.com/vertica/vertica-sql-go/blob/6532448c5d3fe81f5d577f99c5005d0a86a11345/stmt.go#L104) when receiving a message. This is called from the defer at the end of `execDC` in databse/sql.

[2020-02-07 21:38] mlh758 commented on #61
A couple of questions:
1. Would it be reasonable to set a [read deadline](https://golang.org/src/net/net.go) on the underlying connection? It might be something that we set for certain operations and then unset so long running queries can wait as long as the user wants them to.
2. The core problem seems to be waiting for a message that never comes from the server. Is the message saying no permissi

[2020-02-07 21:43] mlh758 commented on #61
The actual error message that precedes this:
[code]

[2020-02-09 16:23] mlh758 commented on #40
I think the Go [spec](https://golang.org/ref/spec#Numeric_types) has `int` as a 64 bit integer on 64 bit systems so for most users this shouldn't be a problem. Using `int64` explicitly would be clearer, and protect you on 32 bit systems though.

[2020-02-10 00:42] #54 closed

[2020-02-10 00:42] #60 closed

[2020-02-10 16:31] mlh758 commented on #61
@huebnerr Is there something special about the rollback severity? A response never comes after the close and flush messages are sent which locks the driver up. I think the fix would be to check if the error severity is ROLLBACK and set a flag on the statement to not wait for a response but I wanted to make sure that was sane before adding a test an opening a PR.

[2020-02-19 13:11] #48 closed

[2020-02-19 13:11] #61 closed

[2020-02-25 19:35] huebnerr commented on #43
This actually seems to already be addressed and merged in but I neglected to close the Issue.

[2020-02-25 19:35] #43 closed

[2020-02-25 23:00] mlh758 opened #70 "Named params with in clause"
The named parameter implementation doesn't work right with an in clause:

`select * from whatever where a in (@first, @second)`

for example. I'll submit a PR to fix this along with a test case.

When it hits an `@` it consumes to the next white space, but with an in clause there could be a comma or parenthesis indicating the end of the identifier instead.

[2020-02-26 00:22] huebnerr commented on #70
Lex/Yacc are tempermental and dangerous allies!

[2020-02-26 00:32] mlh758 commented on #70
You could say I was lexadaisical about where the parameters could appear.

[2020-02-26 16:45] mlh758 opened #72 "Request Cancellation"
This driver does not honor the cancellation of a context and will leave a query running forever.

It looks like there is a cancellation message that can be sent if you open another connection (judging by the Python driver) which will close out a long running query. All operations seem to pass through `QueryContextRaw` so monitoring the context there should be sufficient.

A question I have about i

[2020-02-26 18:09] huebnerr commented on #72
I've asked this of @tomwall and he gave me some great answers. I'll ask him to cover this as well. It's been in my backlog for quite a while now.

[2020-02-26 21:09] huebnerr commented on #70
Will review and merge.

[2020-02-28 02:02] #70 closed

[2020-03-02 17:22] mlh758 commented on #72
Is there an IRC or some other communication channel contributors can use to discuss changes like this? A chat/email chain/gitter etc might be a better fit for a prolonged discussion than a GitHub issue. Then we could just post a summary back to this.

[2020-03-02 17:59] huebnerr commented on #72
Interesting idea. Let me reach out to some people internally to see if there's some "process" for that. I might go ahead and just create a Discord server if that would work. @tomwall @sitingren ideas?

[2020-03-02 19:11] mlh758 commented on #72
Discord works for me.

[2020-03-12 20:29] fbernier opened #75 "`local error: tls: no renegotiation` when using TLS"
Hey,

We noticed that after ~500mb transferred during a response, we'ew getting a `local error: tls: no renegotiation` error. I'm wondering what's the best way to deal with this. The options I see are:

1- ```config := &tls.Config{
    Renegotiation: tls.RenegotiateFreelyAsClient,
}``` in `vertica-sql-go`
2- Disable tls renegociations in Vertica but I'm not entirely sure this is possible.

I saw h

[2020-03-15 01:27] huebnerr commented on #75
Thanks for the report. I'm going to ask @tomwall (who wrote the jdbc driver) for details. It certainly sounds like renegotiation is where we're hitting the problem. I'll let you know what I find out!

[2020-03-15 01:35] huebnerr opened #76 "Need to add connection args to support result caching"
We've added several enhancements to support result spooling to disk when results cannot fit into memory. Would like to add a few connection string arguments to globally set them for a connection.

[2020-03-15 14:51] xtrimf opened #77 "DatabaseTypeName is always empty"
why the **DatabaseTypeName** is always empty?
https://golang.org/pkg/database/sql/#ColumnType.DatabaseTypeName

[code]

Results:
[code]

Tested with several tables (not only system tables) - same results
same for **ScanType**: https://golang.org/pkg/database/sql/#ColumnType.ScanType

[2020-03-16 00:18] huebnerr commented on #77
I suspect it's not implemented. I'll have a look.

[2020-03-16 02:58] tomwall commented on #75
tls_renegotiation_limit is the parameter you need.

It was invented to avoid interop bugs between openssl (vertica server) and not-openssl TLS implementations (various vertica clients) during renegotiation. Newer vertica versions default it to 0 but in 9.1.x you probably need to set it to 0 manually to disable renegotiation. You can do so with something like: `alter database default set tls_renego

[2020-03-16 02:58] #75 closed

[2020-03-16 11:12] fbernier commented on #75
Thanks, I'm gonna try this out. Perhaps I could suggest to add this to the documentation as I've been unable to find a reference to this parameter other than the excerpt in the release notes.

[2020-03-16 12:04] fbernier commented on #75
@tomwall  tried it on a server running Vertica 9.2 (on which we get the renegotiation error) and got the following: `ROLLBACK 3638:  Invalid configuration parameter tls_renegotiation_limit; aborting configuration change`

[2020-03-16 13:01] tomwall commented on #75
It sounds like you'll need to upgrade to a version that has the parameter. If you are using 9.2.x, the fix was introduced in 9.2.1 (https://www.vertica.com/docs/ReleaseNotes/9.2.x/Vertica_9.2.x_Release_Notes.htm). If you are using 9.1.x, the fix was added in 9.1.1-7.

I will relay the feedback to the doc team. In the meantime, the full listing of parameters and a description of each can be seen vi

[2020-03-16 14:05] huebnerr commented on #75
Thanks, @tomwall !

[2020-03-17 22:30] adranwit opened #78 "no RowsAffected available after DDL with COPY DML"
I am getting no RowsAffected available after DDL statement

Also 'no RowsAffected available' is very annoying, for simple Exec command, no other driver behaves that way including Go Lang ODBC
Imagine we want to run SQL script, now we need to add extra logic what's DML and DDL to see whether to call AffectedRow very annoying

[2020-03-20 02:36] huebnerr commented on #77
@xtrimf I have the name returning in my test branch correctly now as well as a few other fields. However, I want to make all of these completely accurate so am researching the mapping of internal column specs to these values. If all you need is the name, you can test out my branch. I'll do a PR once the research is complete.

[2020-03-20 12:57] fbernier commented on #72
I'd be interested in knowin more about this too

[2020-03-20 15:39] tomwall commented on #72
Some kind persistent chat would be nice but we don't have a lot of time to go start one within the next couple of weeks, there's a lot going on behind the scenes to prepare for the now-virtual BDC at the end of the month. In the meantime we are all reachable via vertica-opensrc@microfocus.com -- it's listed on the main vertica github page but could probably be more obvious in the individual projec

[2020-03-20 16:58] mlh758 commented on #72
Yeah I saw the Python implementation and have been basing my Go implementation on that. I would send the cancel message but wasn't seeing my running query error out. I might need to use a longer running query to test with though from the sound of it.

[2020-03-21 17:00] klwilson227 opened #79 "vertica-go-sql connector hangs when processing failed exec command."
This is a bit of a complex test but none the less it fails predictably.

Situation is that during the development of a UDX Source plugin we found that simply throwing an error from the UDSouce::processWithMetadata function causes the vertica-go-client to never return from the call and hangs the session.

// The below implementation on the source causes the vertica go client to hang indefinitely.
S

[2020-03-21 17:16] klwilson227 commented on #79
NOTE: I reproduced the same results against vertica versions 9.2.0, 9.2.1, and 9.3.0.

[2020-03-21 19:09] klwilson227 commented on #79
When inspecting the go stack trace.. the error appears to be in that the Close() stmt.go:124 is expecting a message response from the server with either a type=msg.BECloseCompleteMsg to exit the loop, bu no message is ever received in this case. But a message is never sent from Vertica.

[2020-03-21 19:43] klwilson227 commented on #79
Possible patch to this issue it to set s.rollback = true. Which allows the close logic to exit gracefully when a error is reported from the Exec command.

// ExecContext docs
func (s *stmt) ExecContext(ctx context.Context, args []driver.NamedValue) (driver.Result, error) {
	stmtLogger.Trace("stmt.ExecContext()")

	rows, err := s.QueryContext(ctx, args)

	if err != nil {
		s.rolledBack = true
		ret

[2020-03-21 20:18] huebnerr commented on #79
@klwilson227, I'm worried this issue might manifest in other ways. Since it would be kind of tricky to replicate outside of your environment, could you check to see if there are some other messages getting ignored in the process? For example, inside of the Close() method, can you call defaultMessageHandler() to log any other conditions?

[2020-03-21 21:30] klwilson227 commented on #79
I have replicated this issue already in 3 different vertica environments including the community 9.3 bits that I pulled down about 8 weeks ago. I realize that compiling and deploying the .so from the vertica go test infrastructure; adds a bit to the complexity but it has been very simple to replicate after loading the SO by hand. The so is very stupid as well in that it is configured to always thr

[2020-03-21 21:38] huebnerr commented on #79
Would also ask @sitingren and @tomwall to have a look at this. @sitingren is on the vertica-python driver and @tomwall is master of all things Vertica.

[2020-03-21 22:06] huebnerr commented on #78
@adranwit Can you provide a test case for this?

[2020-03-23 10:27] sitingren commented on #79
Could you please provide the log file of executing your Go program? I'd like to see the wire protocol communication messages btw the server and vertica-sql-go. Thanks!

[2020-03-23 17:05] tomwall commented on #72
Thanks for the PR! It looks like it is on the right track, but I'm not super familiar with go as a language so I could be missing something.

Cancel testing can be tricky because it is fundamentally asynchronous. It is a bit easier with an instrumented debug build of Vertica, but we don't have that luxury here.

The Vertica execution engine will pause in response to TCP backpressure, i.e. if the c

[2020-03-23 17:19] tomwall commented on #79
Kevin and I discussed offline; this seems like a general problem with how the client responds to certain kinds of errors. You can reproduce with a much simpler query: select throw_error('whatever').

I suspect it may be specific to errors that pass the syntax/semantic checks but fail at execution time. In other words, the query/bind+exec message is accepted by the database, the database does seman

[2020-03-23 20:19] huebnerr commented on #79
Interesting. I've seen that pattern once before and fixed it with a simple catch and a call to sync(). I think it was in the Parse/Describe phases. It seems it can happen in the Bind/Execute sides as well.
Tonight I'll have a look at fixing this in a consistent manner.

[2020-03-23 20:50] huebnerr commented on #79
It looked line a one-liner. Please check https://github.com/vertica/vertica-sql-go/tree/huebnerr-lock-on-error

[2020-03-24 13:42] klwilson227 commented on #79
Will get this done as soon as I can.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: huebnerr <notifications@github.com>
Sent: Monday, March 23, 2020 2:50:44 PM
To: vertica/vertica-sql-go <vertica-sql-go@noreply.github.com>
Cc: Kevin Wilson <klwilson227@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re: [vertica/vertica-sql-go] vertica-go-sql connect

[2020-03-24 16:48] huebnerr commented on #51
It seems that this issue may not be fixed as multiple runs of go tests in rapid succession can fail with broken pipes during this test.

[2020-03-24 18:42] mlh758 commented on #72
Fortunately I have a Vertica database available with a fair amount of data in it. I've got a few queries that run ~20-30 seconds. I set a context to expire after 3 seconds.

Up until now I thought my changes just weren't working because I wouldn't get an error back fro mthe driver but then I noticed my result sets were truncated (17 rows instead of a few hundred for example).

This is my debug out

[2020-03-24 19:28] mlh758 commented on #72
Vertica itself also seems to run the query to completion and only interrupts after rows start being sent. If I have a query that returns 1 row but takes 20 seconds to execute, and I send the cancel at 3 seconds it will still take 20 seconds to complete and I seem to always get that one row.

If I have a query that take about 5 seconds and returns ~200 rows and I cancel it at 3 seconds I'll get abo

[2020-03-26 01:16] tomwall commented on #72
The log is a little difficult to interpret because there's multiple connections going. There's many more protocol messages than I would expect (aside: we should add a thread/connection id to each log message to make it easier to interpret).

Looking closer, I think reusing newConnection may be complicating things here. I should have noticed that earlier, apologies. I looked closer at it and it is

[2020-03-26 02:40] mlh758 commented on #72
That much I had assumed, I was seeing it for queries I didn't cancel as well which is why it seemed like I wasn't getting an error after I cancelled. The fact that the rows got cut off made me think I was cancelling but Vertica was doing a normal looking close in response.

I used the Python implementation as a reference, that's where I got the layout of the struct from and knew to open another co

[2020-03-26 14:00] mlh758 commented on #72
@tomwall that was the key! Just opening a socket and sending the message over that instead of a full session gives me an error back from Vertica immediately.

It looks like I'll need to rebase my changes off of what @huebnerr has in PR right now, the error causes a hang in the driver and I think his changes fix that. I'll verify it later today though.

[2020-03-26 14:43] fbernier commented on #72
Just wanted to say I'm also hitting all these issues with request cancellation and hanging on errors and thanks to all of you for working on this.

[2020-03-26 14:45] mlh758 commented on #72
@fbernier I just force pushed my branch with it rebased off of huebnerr's changes. If you want to try it out it _should_ be in a working state. I've been testing it against my own application and it seems to be working sensibly.

[2020-03-26 14:57] huebnerr commented on #79
Addressed in https://github.com/vertica/vertica-sql-go/pull/80

[2020-03-26 14:57] #79 closed

[2020-03-26 15:59] #72 closed

[2020-03-27 17:19] #40 closed

[2020-04-10 02:29] Maunte opened #84 "Arg types of sql.Null* with Valid=false get converted to "??HELP??" string in the driver"
When executing a statement with sql.Null* args, where the arg's Valid=false, the execution fails, or has an unexpected outcome.  If the arg is a NullString, it is persisted as "??HELP??".  If it is a non-string type, the error "Invalid input syntax for <type>: "??HELP??" is thrown.  To reproduce:

    db, _ := sql.Open("vertica", <connectionStrint>)
    var nullString = sql.NullString{"", false}

[2020-04-25 01:42] #45 closed

[2020-04-25 01:45] #51 closed

[2020-06-18 12:39] ghost opened #87 "Golang []byte in vertica?"
What is the vertica data type for golang []byte?

[2020-06-18 13:15] sitingren commented on #87
I think the answer is `BINARY`, `VARBINARY`, `LONG VARBINARY`. But your question is unclear if you are reading from/writing to a table with vertica-sql-go.

[2020-06-25 15:18] xtrimf commented on #77
type names are looking good!
still missing :
[code]
precision & scale for numeric column type
in scanType should show the go type (%T) , but its showing interface for everything

[2020-06-25 15:22] xtrimf commented on #77
@huebnerr there is an issue for 'date' type:
[code]

[2020-07-15 19:28] li20034 opened #88 "Functionality similar to ODBC driver's BackupServerNode"
According to https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ConnectingToVertica/ClientODBC/ODBCConnectionFailover.htm, the ODBC driver for Vertica supports connection failover based on a list of hosts specified in the BackupServerNode config option. Is there similar functionality in this Go driver?

[2020-07-17 18:04] li20034 commented on #88
[0001-Add-basic-support-for-connection-failover.patch.txt](https://github.com/vertica/vertica-sql-go/files/4939368/0001-Add-basic-support-for-connection-failover.patch.txt)

Attached please find a basic patch for implementing this (I'm unsure as to the code quality, but it's just a proof of concept). To use it, remove .txt from the file extension (Github won't let me attach patch files) and use `g

[2020-07-29 02:24] watercraft commented on #87
The Vertica type varbinary and friends makes sense to me but this driver encodes them as hex on the way out which makes it hard to write Scan and Value function that will also work with the Postgres driver.  Here is a patch I'm working on to address this:
[code]

[2020-07-29 02:39] watercraft commented on #87
Example of Value()/Scan() that works with Postgres's JSONB type.  I'd like to use these same functions for Vertica's VARBINARY.
[code]

[2020-08-18 08:46] ehrt74 opened #90 "adding TLS mutual authentication to vertica-sql-go"
Hello! I'd like to add tls to vertica-sql-go. Probably best to implement it like in the mysql-library (see RegisterTLSConfig here: https://github.com/go-sql-driver/mysql/blob/3b935426341bc5d229eafd936e4f4240da027ccd/utils.go)

[2020-08-19 21:14] mlh758 commented on #84
I hit a similar problem, should have a PR up in a few days.

[2020-08-20 05:23] #84 closed

[2020-10-22 18:00] xtrimf commented on #77
Hi, @huebnerr do you have an ETA for the PR?

[2020-11-20 13:23] sitingren commented on #77
@xtrimf I have fixed DatabaseTypeName and Nullable, I'll fix DecimalSize, Length and ScanType in another PR.

[2021-01-05 08:28] xtrimf opened #104 "null args results in error"
for example when performing
[code]

it returns `Error: [22V02] Invalid input syntax for float: \"??HELP??\""`
Debugging the statement shows it is not adding `AS NULL::float` to the copy command.

Same for `int` type.
In `VARCHAR` type it just inserts the text "??HELP??"

workaround is to replace the `?` with "null" in the query string in its relative position - but it is quite an overhead...

[2021-01-05 13:52] sitingren commented on #104
Hello @xtrimf. Would you please provide a complete reproducer? And your Golang version.

The single quote `''` is used to declare characters (rune, char). In Golang, a string should be defined within double quotes or back quotes. I'm not sure if this is related to your problem.

[2021-01-05 14:55] xtrimf commented on #104
@sitingren the quote `'` is just a typo, I actually use `"` - so its not a rune issue (I updated the post)

Go 1.15.6

in vertica:

[code]

Go:
[code]

[2021-01-06 05:51] sitingren commented on #104
@xtrimf  I cannot reproduce your problem. Are you running with the latest version of _vertica-sql-go_? I found there is a fix (#92) that addressed similar issue.

[2021-01-06 20:02] xtrimf commented on #104
tnx @sitingren !,
I missed that update.

[2021-01-06 20:02] #104 closed

[2021-01-08 18:16] rogersprint opened #106 "connect does not return err"
[code]

[code]

[2021-01-11 09:54] sitingren commented on #106
As mentioned in Go package [**database/sql** doc](https://golang.org/pkg/database/sql/#Open):

This Go client is compliant with __database/sql__'s methods and behavioral expectations. There are some explanations and examples about this behavior in the README. Please read the README and use _PingContext()_ method to verify your connection.

[2021-01-18 08:04] #106 closed

[2021-01-19 11:38] #77 closed

[2021-01-26 09:31] #88 closed

[2021-01-26 09:35] sitingren commented on #88
@li20034 Thank you for your contribution! I merged a PR(#109) for this feature. Please upgrade your client to try and let me know if you have further questions. Thanks!

[2021-02-23 08:22] karlkukk-dev opened #112 "@question in regrads to "NewVerticaContext""
Could you provide a more indepth example of the usage of the vertica bulk loader(COPY command).

When try to use the function NewVerticaContext it gives me the error "NewVerticaContext".

import (
	"context"
	"database/sql"
	"os"

	_ "github.com/vertica/vertica-sql-go"
	"github.com/vertica/vertica-sql-go/logger"
)

func main() {
	logger.SetLogLevel(logger.INFO)
	var testLogger = logger.New("sample

[2021-02-23 08:53] #112 closed

[2021-04-20 08:16] vodrazka commented on #90
oh yes! +1

[2021-04-20 08:58] ldrozdowski commented on #90
+1

[2021-04-21 12:35] Alucardinio opened #113 "FileCache errors"
When using a FileCache, there is no Write error control when writing to a buffer file. In a situation when the disk space runs out, the data will be lost, but no one will know about it and the driver will continue to work in normal mode.

[2021-05-25 23:52] mjskier opened #115 "--use_prepared_statements=0 in ci.yaml is broken"
In init() in driver_test.go, the following 2 lines are commented out
[code]
which means any arguments passed to `go test` in ci.yaml is not taken into consideration.
If you uncomment these 2 lines, you will find that tests with the `--use_prepared_statements=0` option fail with the following error in TestBasicArgsWithNil()
[code]

[2021-05-27 08:42] #115 closed

[2021-05-27 08:53] sitingren commented on #115
@mjskier Thanks for your report! I merged a quick fix for this issue.

[2021-06-03 06:44] #90 closed

[2021-06-12 18:27] watercraft commented on #87
The strategy above is working great for JSON because it is all printable.  It seems that the Vertica on the wire protocol is encoding non-printable binary values in some multi-byte sequence.  For example, I can clearly see that a varbinary column has a length of 691 using a select in vsql.  However, the slice returned from bedatarowmsg.Chunk() has a length of 1982.  Does anyone know what this enco

[2021-06-12 23:45] watercraft commented on #87
This seems to do the trick.  The varbinary data is coming out of bedatarowmsg.Chunk() with non-printables escaped as backslash octals with backslash itself escaped as double backslash.
[code]

[2021-06-13 14:41] watercraft commented on #87
The challenge with the above solution is writing the varbinary values from []byte in Go using database/sql.  Using param substitution with jmoiron/sqlx I got an error from Vertica.  I was able to get it working by using the hex input syntax X'' and converting my []byte field to hex in the client code: fmt.Sprintf("update table1 set col1=X'%s'", hex.EncodeToString(field1))

[2021-06-13 23:56] watercraft commented on #87
Again, examining the python driver I found a solution:
[code]

[2021-06-21 09:03] vertica-cla commented on #87
@watercraft Thanks for the discussion. There are two directions of [var]binary data transfer:
- from client to server: The server's default format for binary data allows you to escape non-printable ASCII values as a `\xxx` octal string. The client has to encode binary data as a UTF-8 string. The server is smart enough to handle non-printable bytes, except for `\` itself. So the cilent needs to esc

[2021-06-21 09:05] sitingren commented on #87
@watercraft Thanks for the discussion. There are two directions of [var]binary data transfer:
- from client to server: The server's default format for binary data allows you to escape non-printable ASCII values as a `\xxx` octal string. The client has to encode binary data as a UTF-8 string. The server is smart enough to handle non-printable bytes, except for `\` itself. So the cilent needs to esc

[2021-06-24 06:47] sitingren commented on #87
@watercraft UPDATE: Our team discussed the second issue in my above comment. We decide to change the server to send binary data directly, in a future release. We also have to adding a fix for python and go client because of backwards compatibility for old servers, which can be done right now.

It would be a big help if you can create a pull request for the last two code snippets you provide and ad

[2021-09-16 10:59] 4mig4 opened #118 "go get does not with golang v1.17"
[code]

[2021-09-16 12:13] #118 closed

[2021-10-20 13:04] prochac opened #119 "Implement error struct"
Other sql drivers returns struct implementing error interface.
Ex.
https://pkg.go.dev/github.com/lib/pq#Error
https://pkg.go.dev/github.com/go-sql-driver/mysql#MySQLError
https://pkg.go.dev/github.com/jackc/pgconn#PgError
https://pkg.go.dev/github.com/denisenkom/go-mssqldb#Error
https://pkg.go.dev/github.com/snowflakedb/gosnowflake#SnowflakeError

Vertica returns pure string ```Error: [42V01] Rela

[2021-12-08 19:50] misikch opened #123 "Hung connection to vertica"
Hi! Can anybody help with understaning problem? I've got code like in examples:
[code]

set env `VERTICA_SQL_GO_LOG_LEVEL=1` to debug connection:
[code]
So, thats it) after that nothing else happens

[2021-12-09 07:54] sitingren commented on #123
The regular workflow should have a `DEBUG connection: <- CloseComplete` line at the end of such log file. Looks like the server doesn't send a CloseComplete message to the client.

One suspicious thing in this log file is that after the session is created there is an additional Notice message. Unfortunately the go client currently doesn't implement notice reading. Therefore please try to modify th

[2021-12-10 07:39] #119 closed

[2021-12-10 09:00] sitingren commented on #119
The fix goes into v1.2.1: https://pkg.go.dev/github.com/vertica/vertica-sql-go#VError

[2022-01-03 15:37] prochac commented on #119
So I should use https://pkg.go.dev/github.com/vertica/vertica-sql-go#VError.SQLState, right?
The values are well known and documented.
https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ErrorCodes/SQLStates.htm

What value contains https://pkg.go.dev/github.com/vertica/vertica-sql-go#VError.ErrorCode then?

 Thanks for the pull request :+1:

[2022-01-04 10:26] sitingren commented on #119
@prochac The error code is described in https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ErrorCodes/ErrorCodes.htm

[2022-01-05 06:17] Fector opened #127 "Placeholder counting error after client update"
I faced with an error after updating the client from 1.1.0 to 1.2.1

     `connDB, _ := sql.Open("vertica", myDBConnection)

	query := "SELECT * FROM sometable " +
		"WHERE ( field1 = ? or ? = '' ) AND field2 > ?"

	ctx := context.Background()
	rows, err := connDB.QueryContext(ctx, query, "arg1", "arg1", 100)
	if err != nil {
		log.Fatal(err)
	}

	defer rows.Close()`

After `? = ''` it stops count

[2022-01-10 12:57] #113 closed

[2022-01-13 07:47] #127 closed

[2022-01-27 17:55] rohanag108 opened #133 "Kerberos support"
Does this driver support using kerberos for authentication?

[2022-01-28 07:16] sitingren commented on #133
@rohanag108 Unfortunately the Kerberos authentication in this driver haven't been implemented.

[2022-01-28 17:38] rohanag108 commented on #133
Are there plans to implement it anytime soon?

[2022-02-10 04:03] sitingren commented on #133
@rohanag108 So far we don't have any plan to implement it as there were no such request. But let me know if you plan to use it soon, so I can prioritize your request. Thanks.

[2022-02-15 20:37] huebnerr commented on #123
I should make an enhancement to print out the Notice messages if running at log level 0.

[2022-03-08 11:18] ehrt74 opened #135 "incorrect parsing of timestamp offset for time zones with non integer offset"
Hi!

in connection.go 499 it is assumed that the time zone offset of vertica is an integer number of hours. for time zones like india (+530) this code fails. attempts after that to read a timestamp from the database fail because the appended time zone information is incomplete.

a fix would be something like:

func getTimeZoneOffset(str string) string {
	for i := len(str) - 1; i >= 0 && i >= len(s

[2022-03-22 20:33] brandon-langley-mf opened #136 "Conn.close() causes a panic when there is no valid connection"
Mar 22 20:20:00.807275 ERROR driver: cannot connect to vertica-default.secopstn01.us-west-1.internal.mp.idi-dev.cyberreseng.com:5433 (dial tcp 10.35.87.182:5433: connect: connection refused)
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x7075e9]

goroutine 36 [running]:
database/sql.(*Conn).close(0x10?, {0x0?,

[2022-05-04 09:55] freecod opened #137 "The question mark in the string is interpreted as a placeholder"
ver. 1.2.1

Queries like

`
create local temp table all_campaign_params on commit preserve rows direct as (select distinct case when pt.price == 0 then 'pr' else '' end, case when types like 'one%' then 'show?id=' else 'items' end as deeplink from spareparts_parameters sp);
`

when executed via ExecContext, they return the error "expected 1 arguments, got 0"

Apparently, the question mark in the l

[2022-05-05 06:22] sitingren commented on #137
Hi @freecod, Can you try this new release v1.2.2?

[2022-05-05 06:44] freecod commented on #137
There is no problem on ver. 1.2.2, thank you!

[2022-05-05 06:44] #137 closed

[2022-05-05 07:15] sitingren commented on #137
Great!

[2022-07-04 15:13] #87 closed

[2022-08-29 17:47] ringmaster217 opened #144 "Honor search_path (and other connection arguments) in connection string."
When connecting to databases, my organization often specifies search_path (and sometimes other session variables) as part of the connection string:

`vertica://dbadmin:dbadminpass@localhost:5433/VMart?connection_load_balance=1&search_path=my_schema`

vertica-sql-go doesn't currently support this (only `connection_load_balance`, `use_prepared_statements`, and `backup_server_node` are supported vari

[2022-09-06 10:25] sitingren commented on #144
@ringmaster217 Thanks for pointing this out. However, your implementation is not a recommended way to achieve this. It lets the client to send arbitrary variables to the server, which is not a good practice. Only a couple of undocumented variables can be recognized by server during connection handshake, but we don't implement them because all these variables can be set after connection (e.g. execu

[2022-09-06 21:03] ringmaster217 commented on #144
I've tried your suggested `SET SEARCH_PATH...`, but it doesn't work with connection pooling (which go uses heavily for database connections). It ends up setting the search path for a single connection in the pool, but not for the rest, resulting in some unexpected behavior. That being said, I may have found another way forward that uses a user's default search_path setting.

I didn't realize that

[2022-09-06 21:03] #144 closed

[2022-09-07 13:26] sitingren commented on #144
@ringmaster217 You might looking for something like "Setting the User Search Path", please take a look at [Vertica documentation](https://www.vertica.com/docs/12.0.x/HTML/Content/Authoring/AdministratorsGuide/ConfiguringTheDB/SettingSchemaSearchPaths.htm)

[2022-09-24 13:06] scherepanov opened #146 "Add connection label to queryArgs in connection string"
vertica-sql-go is setting connection label to fixed string, like vertica-sql-go-1.1.1-21465-1663962464

Please add to connection URL new argument - client label. Should not be hard.

All existing Vertica clients can set connection label, except vertica-sql-go and vsql.

Note that setting connection label by using function set_client_label, after connection already established, does not update DC t

[2022-09-24 13:10] scherepanov opened #147 "Set client_os_user_name and client_os on connection"
As of now, vertica-sql-go is the only one Vertica client that does not set fields client_os_user_name and client_os on connection.
All other Vertica clients are doing that.
Prime use of those fields are for audit.
Please set those fields on connection, should not be very hard.

[2022-09-30 19:33] scherepanov commented on #147
I would "strongly" suggest to follow what Vertica ODBC and JDBC drivers are reporting in columns client_os. They both report same.
Users would be seeing same info for different drivers, and that is well within users expectations.
Looking at my audit records, here are samples of OS names:
Linux: Linux 4.16.13-300.fc28.x86_64 x86_64
Windows: Windows Server 2012 6.2.9200 x64
I do not have samples fro

[2022-10-10 06:16] sitingren commented on #147
@scherepanov Even though ODBC and JDBC drivers are reporting the same client_os, other drivers are not, the OS info depends on the implementation of each programming language. For example, python driver returns 'Linux-3.10.0-957.5.1.el7.x86_64-x86_64-with-centos-7.5.1804-Core', which gives much more detailed information.

For vertica-sql-go I merged a solution to use a third-party package to const

[2022-10-10 20:59] scherepanov commented on #147
Thanks, that is a best efforts and good enough!

[2022-10-10 20:59] #147 closed

[2022-10-10 21:00] scherepanov commented on #147
Implemented